* {
  background-color: #9391ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainNavbar {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 200;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #012a4a;
}

#mainNavbar .navbar-brand {
  color: #012a4a;
  font-weight: bold;
  font-size: 2 rem;
}

.csk span {
  font-style: normal;
  font-family: fantasy;
  font: bolder;
  font-size: larger;
  color: yellow;
}

#csktxt:hover {
  font-size: 250%;
  color: rgba(255, 255, 0, 0.904);
}

.csk {
  /* text-decoration-line: underline;*/
  text-shadow: #fc0 1px 0 10px;
}

.csk-content {
  text-align: justify;
  font: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #012a4a;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 10px;
}

.col-lg-6 img {
  margin-top: 75px;
  border-radius: 50%;
  height: 500px;
  width: 800px;
}

.csk-content::selection {
  background-color: yellow;
}

section p {
  background-color: aliceblue;
  margin-left: 10px;
  margin-top: 20px;
  color: #012a4a;
  border-radius: 30px;
}
